<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Newsletter</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <div class="newsletter__actions">
      <button class="btn btn-primary" routerLink="/pages/newsletter/add">Add Newsletter</button>
    </div>
    <ngx-datatable
      #table
      class='material'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [limit]="pageSize"
      [rows]='models'
      [count]="total"
      [offset]="page - 1"
      (page)="getPage($event.offset + 1)">

      <ngx-datatable-column name="Id" [maxWidth]="80">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.title }}
          <!-- <div class="button-link" (click)="redirectToNewsletterUrl(row.id)">
            {{ row.title }}
          </div> -->
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Newsletter">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="list-newsletter-message" [innerHtml]="row.newsletter"></div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ getDateTime(row.createdAt) }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
