<app-modal [opened]="opened" 
          (openedChange)="triggerOpenedChange($event)"
          title="Select your Image">
  <div class="select-image">
    <div class="select-image-left">
      <div class="select-image-img" *ngFor="let model of models">
          <img [src]="generateImagePath(model.path)" 
            class="select-image-selectable"
            (click)="selectOrDeselect(model.id)"
            [class.selected]="isSelected(model.id)"/>
          <button class="select-image-btn" (click)="removeImage(model.id)">
            <span class="fa fa-remove"></span>
          </button>
      </div>
      <div class="select-image-actions">
        <app-button btnClass="btn btn-primary" [disabled]="!hasSelected()"
            (click)="handleSelect($event)">Select</app-button>
        <div class="select-image-note">
          Max Images : {{ max }}
        </div>
      </div>
    </div>
    <div class="select-image-right">
      <app-upload-image (successUpload)="handleSuccessUpload($event)"></app-upload-image>
    </div>

  </div>
  
</app-modal>