/**** Colors (recommended use HEX colors) ****/
$main-color: #2E0502;
$default-color: #fff;
$dark-color: #000;

$body-bg-gradient-color-1: #990000;
$body-bg-gradient-color-2: #ffb3b3;

$sidebar-bg-color: #640D05;
$sidebar-item-active-bg-color: #9B1909;

$primary-color: #024a88;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;
