<div class="filter-product">
  <div class="form-group">
    <div class="field-label">search</div>
    <app-input type="text" [(value)]="q"
               placeholder="Enter text search product"></app-input>
  </div>


  <div class="form-group">
    <div class="field-label">Start date</div>
    <app-input type="date"
               #startDate
    ></app-input>
  </div>


  <div class="form-group">
    <div class="field-label">End date</div>
    <app-input type="date"
               #endDate
    ></app-input>
  </div>


  <div>
    <div class="field-label">Status</div>
    <app-dropdown [(value)]="statusValue" [items]="statusItems"
                  [(text)]="statusText"
                  placeholder="Select Status"></app-dropdown>
  </div>
  <div>
    <!--<div class="field-label"></div>-->
    <button class="btn btn-main" (click)="handleOnFilter($event, startDate.value, endDate.value)">Filter</button>
    <br/>
    <button class="btn btn-danger" (click)="resetFilter()">Reset</button>
  </div>
</div>
