<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">Add Coupon</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">

    <app-form [rules]="getRules()" [url]="url"
              [validationMessages]="getValidationMessages()"
              (successForm)="successForm($event)"
              class="asr-form"
              [authKeyNeeded]="true">

      <div class="field-area">
        <div class="field-label">
          Name
        </div>
        <app-input #field [(value)]="model.name"
                   name="name"
                   placeholder=""></app-input>
      </div>

      <div class="field-area">
        <div class="field-label">
          Expiry Date
        </div>
        <app-datepicker #field
                        [value]="model.expiryDate"
                        (valueChange)="getExpiryDate($event)"
                        name="expiryDate" [settings]="settingsDatePicker"></app-datepicker>
      </div>

      <div class="field-area">
        <div class="field-label">
          Coupon Code
        </div>
        <app-input #field [(value)]="model.couponCode"
                   name="couponCode"
                   placeholder=""></app-input>
      </div>

      <div class="field-area">
        <div class="field-label">
          Discount (%)
        </div>
        <app-input #field [(value)]="model.discount"
                   name="discount"
                   type="number"
                   placeholder="Discount 0 - 100 (%)"></app-input>
      </div>
      <!--<div class="field-area">-->
        <!--<div class="field-label">-->
          <!--Expiry Date-->
        <!--</div>-->
        <!--<app-input #field [(value)]="model.expiryDate"-->
                   <!--name="expiryDate"-->
                   <!--type="datetime-local"-->
                   <!--placeholder="Choose date" (valueChange)="getDate(field.value)"></app-input>-->
      <!--</div>-->

      <app-input #field [value]="timezoneOffset"
                 type="hidden"
                 name="timezoneOffset"></app-input>
      <app-button #submit type="submit"
                  class="btn-tab"
                  btnClass="btn btn-main btn-block">Add
      </app-button>
    </app-form>


  </div>
</div>
