<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Add Product</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition">
          <i class="fa fa-chevron-down"></i>
        </a>
        <a data-widgster="collapse" href="#" class="transition">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a data-widgster="fullscreen" href="#" class="transition">
          <i class="fa fa-expand"></i>
        </a>
        <a data-widgster="restore" href="#" class="transition">
          <i class="fa fa-compress"></i>
        </a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div style="display: flex">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 bottom-30">

          <app-form [rules]="getRules()" [url]="url" [validationMessages]="getValidationMessages()" (successForm)="successForm($event)"
            [authKeyNeeded]="true" class="lend-form">

            <div class="paf__field">
              <div class="field-label"> Name</div>
              <app-input #field [name]="NAME" placeholder="" type="text"></app-input>
            </div>

            <div class="paf__field">
              <div class="field-label"> Translate Name</div>
              <app-input #field [name]="NAME_CHINESE" placeholder="" type="text"></app-input>
            </div>

            <div class="paf__field">
              <div class="field-label"> Default Price</div>
              <app-input #field [name]="DEFAULT_PRICE" placeholder="" type="number"></app-input>
              <!--<app-checkbox #field [name]="POINT_SYSTEM">Point System</app-checkbox>-->
            </div>


            <div class="paf__field">
              <div class="field-label">Price before discount</div>
              <app-input #field [name]="PRICE_BEFORE_DISCOUNT" placeholder="" type="number"></app-input>
            </div>


            <div class="paf__field">
              <div class="field-label">Quantity</div>
              <app-input #field [name]="QUANTITY" placeholder="" type="number"></app-input>
            </div>

            <div class="paf__field">
              <div class="field-label">Alcohol (%)</div>
              <app-input #field [name]="ALCOHOL_PERCENTAGE" placeholder="" type="number"></app-input>
            </div>

            <div class="paf__field">
              <div class="field-label">Volume in Ml</div>
              <app-input #field [name]="VOLUME_IN_ML" placeholder="" type="number"></app-input>
            </div>

            <div class="paf__field">
              <th-product-attribute-form (add)="addAttributeProduct($event)"></th-product-attribute-form>
              <ul *ngFor="let attribute of attributeProductModels">
                <li>{{attribute.attributeName}} = {{attribute.attributeValue}}
                  <span class="fa fa-close" style="color: red" (click)="removeAttribute(attribute)"></span>
                </li>
              </ul>
            </div>

            <div class="paf__field">
              <th-product-category-form (add)="addCategoryProduct($event)"></th-product-category-form>
              <ul *ngFor="let category of categoryProductModels">
                <li>{{category.name}}
                  <span class="fa fa-close" style="color: red" (click)="removeCategory(category)"></span>
                </li>
              </ul>
            </div>

            <div class="paf__field">
              <div class="field-label"> Description</div>
              <app-ckeditor #field [(value)]="model.description" name="description" [config]="ckEditorConfig">
              </app-ckeditor>
            </div>

            <div class="paf__field">
              <div class="field-label"> Translate Description</div>
              <app-ckeditor #field [(value)]="model.descriptionChinese" name="descriptionChinese" [config]="ckEditorConfig">
              </app-ckeditor>
            </div>

            <app-button #submit type="submit" class="btn-tab" btnClass="btn btn__primary">Add
            </app-button>
          </app-form>
        </div>


      </div>
    </div>
  </div>


</div>
