<div class="field-label">
  Category
</div>

<div style="display: flex">
  <app-search2 #id [(value)]="model.id"
               name="categoryId"
               placeholder="Enter category name"
               [url]="url"
               valueIndex="id"
               textIndex="name"
               [(items)]="models"
               [(total)]="total"
               (dataChange)="handleDataChange($event)">
    <ng-template let-item="item">
      <div class="av-form-dropdown">
        {{item.name}}
      </div>
    </ng-template>
  </app-search2>
  <span> &nbsp; </span>

  <button class="btn btn__primary" type="button" (click)="addAttribute(id)">Add</button>
</div>

