<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Add News</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <app-form [rules]="getRules()" [url]="url"
                [validationMessages]="getValidationMessages()"
                (successForm)="successForm($event)"
                class="ab-form"
                [authKeyNeeded]="true">

        <div class="field-label">
          Thumbnail
        </div>
        <app-select-image-field [max]="1"
                                (onImageSelect)="handleOnImageSelect($event)">
        </app-select-image-field>

        <app-input #field [(value)]="model.thumbnailId" name="thumbnailId"
                   type="hidden"></app-input>

        <div class="field-label">
          Title
        </div>
        <app-input #field [(value)]="model.title"
                   name="title"
                   placeholder="Please enter the title"></app-input>

        <div class="field-label">
          Chinese Title
        </div>
        <app-input #field [(value)]="model.titleChinese"
                   name="titleChinese"
                   placeholder="Please enter the title"></app-input>

        <div class="field-label">
          Blog
        </div>
        <app-ckeditor #field [(value)]="model.blog" name="blog">
        </app-ckeditor>

        <div class="field-label">
          Chinese Blog
        </div>
        <app-ckeditor #field [(value)]="model.blogChinese" name="blogChinese">
        </app-ckeditor>


        <app-button #submit type="submit"
                    class="btn-tab"
                    btnClass="btn btn-main btn-block">Add
        </app-button>
      </app-form>

    </div>
  </div>
</div>
