<div class="field-label">
  Attribute
</div>

<div style="display: flex">
  <app-search2 #id [(value)]="model.id"
               name="attributeId"
               placeholder="Enter attribute name"
               [url]="url"
               valueIndex="id"
               textIndex="name"
               [(items)]="models"
               [(total)]="total"
               (dataChange)="handleDataChange($event)">
    <ng-template let-item="item">
      <div class="av-form-dropdown">
        {{item.name}}
      </div>
    </ng-template>
  </app-search2>
  <span> &nbsp; </span>

  <app-input #value type="text" name="attributeValue"
             placeholder="Value"></app-input>

  <button class="btn btn__primary" type="button" (click)="addAttribute(id.value, id.text, value.value)">Add</button>
</div>

