<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Contact</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <ngx-datatable
      #table
      class='material'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [limit]="pageSize"
      [rows]='models'
      [count]="total"
      [offset]="page - 1"
      (page)="fetchPage($event.offset + 1)">

      <ngx-datatable-column name="Id" [maxWidth]="80">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.title }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Message">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.message }}
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column name="Email">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.email }}
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column name="Phone number">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.phoneNumber }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Send At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ dateService.getDateTime(row.createdAt) }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
