<div style="display: flex">
  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 bottom-30">
      <app-form [rules]="getRules()" [url]="url"
                [validationMessages]="getValidationMessages()"
                (successForm)="successForm($event)"
                [authKeyNeeded]="true"
                class="lend-form">

        <div class="acf-field">
          <div class="field-label"> Name</div>
          <app-input #field
                     [(value)]="model.name" name="name"
                     placeholder="enter product name"
                     type="text"></app-input>
        </div>

        <div class="acf-field">
          <div class="field-label"> Translate Name</div>
          <app-input #field
                     [(value)]="model.nameChinese" name="nameChinese"
                     placeholder="enter product name"
                     type="text"></app-input>
        </div>

        <div class="acf-field">
          <div class="field-label"> Default Price</div>
          <app-input #field
                     [(value)]="model.defaultPrice" name="defaultPrice"
                     placeholder="enter product price"
                     type="number"></app-input>
          <!--<app-checkbox #field [name]="POINT_SYSTEM" [(value)]="model.pointSystem">Point System</app-checkbox>-->
        </div>
        
        <div class="acf-field">
          <div class="field-label"> Price Before Discount</div>
          <app-input #field
                     [(value)]="model.priceBeforeDiscount" name="priceBeforeDiscount"
                     placeholder="Enter price before disount"
                     type="number"></app-input>
        </div>

        <div class="acf-field">
          <div class="field-label"> Stock</div>
          <app-input #field
                     [(value)]="model.quantity" name="quantity"
                     placeholder="enter quantity"
                     type="number"></app-input>
        </div>

        <div class="paf__field">
          <div class="field-label">Alcohol (%)</div>
          <app-input #field
                      [(value)]="model.alcoholPercentage"
                      [name]="ALCOHOL_PERCENTAGE"
                      placeholder=""
                      type="number"></app-input>
        </div>

        <div class="paf__field">
          <div class="field-label">Volume in Ml</div>
          <app-input #field
                      [(value)]="model.volumeInMl"
                      [name]="VOLUME_IN_ML"
                      placeholder=""
                      type="number"></app-input>
        </div>

        <th-product-category-form (add)="handleAddCategoryProduct($event)"></th-product-category-form>
        <ul *ngFor="let category of model.categories">
          <li>{{category.name}} <span class="fa fa-close" style="color: red" (click)="handleRemoveCategory(category)"></span></li>
        </ul>

        <th-product-attribute-form (add)="handleAddAttributeProduct($event)"></th-product-attribute-form>
        <ul *ngFor="let attribute of model.attributes">
          <li>{{attribute.attributeName}} = {{attribute.attributeValue}} <span class="fa fa-close" style="color: red" (click)="handleRemoveAttribute(attribute)"></span></li>
        </ul>

        <div class="acf-field">
          <div class="field-label"> Description</div>
        <app-ckeditor #field
                      [(value)]="model.description"
                      name="description"
                      [config]="ckEditorConfig"
        >
        </app-ckeditor>
        </div>

        <div class="acf-field">
          <div class="field-label"> Translate Description</div>
        <app-ckeditor #field
                      [(value)]="model.descriptionChinese"
                      name="descriptionChinese"
                      [config]="ckEditorConfig"
        >
        </app-ckeditor>
        </div>


        <app-button #submit type="submit"
                    class="btn-tab"
                    btnClass="btn btn-main btn-block">Edit
        </app-button>
      </app-form>
  </div>




</div>
