<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          class="ab-form"
          [authKeyNeeded]="true">


  <app-input #field [(value)]="model.id"
             name="id"
             type="hidden"
             placeholder="Please enter the id"></app-input>


  <div class="field-label">
    Person Name
  </div>
  <app-input #field [(value)]="model.personName"
             name="personName"
             placeholder="Please enter the Person Name"></app-input>


  <div class="field-label">
    Chinese Person Name
  </div>
  <app-input #field [(value)]="model.personNameChinese"
             name="personNameChinese"
             placeholder="Please enter the Person Name"></app-input>

  <div class="field-label">
    Job Title
  </div>
  <app-input #field [(value)]="model.jobTitle"
             name="jobTitle"
             placeholder="Please enter the Job Title"></app-input>

  <div class="field-label">
    Chinese Job Title
  </div>
  <app-input #field [(value)]="model.jobTitleChinese"
             name="jobTitleChinese"
             placeholder="Please enter the Job Title"></app-input>

  <div class="field-label">
    Message
  </div>
  <app-textarea #field [(value)]="model.message" name="message">
  </app-textarea>


  <div class="field-label">
    Chinese Message
  </div>
  <app-textarea #field [(value)]="model.messageChinese" name="messageChinese">
  </app-textarea>


  <app-button #submit type="submit"
              class="btn-tab"
              btnClass="btn btn-main btn-block">Save
  </app-button>
</app-form>
