<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">List Order</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

       <th-sales-filter-form (filter)="handleOnFilter($event)"></th-sales-filter-form>

      <ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [limit]="10"
        [rows]='models'
        [count]="total"
        [offset]="page - 1"
        (page)="list($event.offset + 1)">

        <ngx-datatable-column name="Id" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.id }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Customer Name">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a class="sales-list__link" (click)="getUserURL(row.customerId)">{{ row.customerName }}</a>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total Product Cost">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.totalProductCost }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Payment Method">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ convertPaymentMethodIdToText(row.paymentMethodId) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Last update">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ getDate(row.updatedAt) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.statusText}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-primary" *ngIf="row.status === 3" (click)="getProductURL(row.id)" >View</button>
            <button class="btn btn-primary" *ngIf="row.status === 4" (click)="openDialogConfirm(true, '6', row)" >Finish</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>


<app-confirm-dialog
  [(opened)]="dialogConfirm"
  (yes)="changeStatus()"
><h6>Do you want to change status ?</h6>
</app-confirm-dialog>
