
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Add Event</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <app-form [rules]="getRules()" 
          [customSubmitMode]="true" 
          [validationMessages]="getValidationMessages()" 
          (successValidation)="addEvent($event)"
          [authKeyNeeded]="false">
        <div class="field-label">
          Thumbnail
        </div>
        <app-select-image-field [max]="1"
                                (onImageSelect)="handleOnImageSelect($event)">
        </app-select-image-field>

        <app-input #field [(value)]="model.thumbnailId" name="thumbnailId"
                    type="hidden"></app-input>
        
        <div class="field-label">
          Title
        </div>
        <app-input #field [value]="model.title" name="title" type="text"
                   placeholder="Please enter the title"></app-input>

        <div class="field-label">
          Chinese Title
        </div>
        <app-input #field [value]="model.titleChinese" name="titleChinese" type="text"
                   placeholder="Please enter the title"></app-input>


        <div class="field-label">
          Description
        </div>

        <app-ckeditor #field [(value)]="model.description" name="description">
        </app-ckeditor>


        <div class="field-label">
          Chinese Description
        </div>

        <app-ckeditor #field [(value)]="model.descriptionChinese" name="descriptionChinese">
        </app-ckeditor>

        
        <div class="field-label">
          Start Local Time
        </div>
        <app-input #field [(value)]="model.startAt" type="datetime-local" name="startAt"></app-input>

        <div class="field-label">
          End Local Time
        </div>
        <app-input #field [(value)]="model.endAt" type="datetime-local" name="endAt"></app-input>

        <app-button #submit type="submit" btnClass="btn btn-main btn-block" class="btn-tab">Add
        </app-button>

      </app-form>
    </div>
  </div>
