<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">INVOICE #{{orderModel.id}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body scrollbox">

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

      <div style="text-align: center">
        <button (click)="print()"><span class="fa fa-print"></span> Print</button>
      </div>
      <div class="container" id="print-section">
        <div class="row">
          <div class="col-xs-12">


            <div class="invoice-title">
              <div class="col-xs-6">
                <h2>Invoice</h2>
                <h4>Order # {{orderModel.id}}</h4>
              </div>

              <div class="col-xs-6 text-right">
                <img src="/assets/img/logo.png" style="width: 200px">
                <p style="margin-top: 12px">
                  sales@lileo.com.sg <br/>
                  21 Bt Batok Crescent #22-76/77 <br/>
                  Weega Tower.</p>
              </div>
            </div>


            <hr>
            <div class="">
              <div class="col-xs-6">
                <address>
                  <strong>Billed To:</strong><br>
                  {{orderModel.customerName}}<br>
                  {{orderModel.billingStreetName}}<br>
                  {{orderModel.billingUnitNumber}}<br>
                  {{orderModel.billingCity}},
                  {{orderModel.billingCountry}}
                  {{orderModel.billingPostalCode}}
                </address>
              </div>
              <div class="col-xs-6 text-right">
                <address>
                  <strong>Shipped To:</strong><br>
                  {{orderModel.customerName}}<br>
                  {{orderModel.shippingStreetName}}<br>
                  {{orderModel.shippingUnitNumber}}<br>
                  {{orderModel.shippingCity}},
                  {{orderModel.shippingCountry}}
                  {{orderModel.shippingPostalCode}}
                </address>
              </div>
            </div>
            <div class="">
              <div class="col-xs-6">
                <address>
                  <strong>Payment Method:</strong><br>
                  Paypal
                </address>
              </div>
              <div class="col-xs-6 text-right">
                <address>
                  <strong>Order Date:</strong><br>
                  {{getDate(orderModel.createdAt)}}<br><br>
                </address>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>Order summary</strong></h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                    <tr>
                      <td><strong>Item</strong></td>
                      <td class="text-center"><strong>Price</strong></td>
                      <td class="text-center"><strong>Quantity</strong></td>
                      <td class="text-right"><strong>Totals</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                    <tr *ngFor="let orderItem of orderModel.orderItem">
                      <td>{{orderItem.productName}}</td>
                      <td class="text-center">{{orderItem.price | currency:'SGD':'code'}}</td>
                      <td class="text-center">{{orderItem.quantity}}</td>
                      <td class="text-right">{{orderItem.quantity * orderItem.price | currency:'SGD':'code'}}</td>
                    </tr>
                    <tr>
                      <td class="thick-line"></td>
                      <td class="thick-line"></td>
                      <td class="thick-line text-center"><strong>Subtotal</strong></td>
                      <td class="thick-line text-right">{{getSubTotal() | currency:'SGD':'code'}}</td>
                    </tr>
                    <tr *ngIf="getDiscount() != 0">
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-center"><strong>Discount</strong></td>
                      <td class="no-line text-right">- {{getDiscount() | currency:'SGD':'code'}}</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="thick-line text-center"><strong>Shipping</strong></td>
                      <td class="thick-line text-right">{{orderModel.shipmentCost | currency:'SGD':'code'}}</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-center"><strong>Tax</strong></td>
                      <td *ngIf="orderModel.taxAmount != 0" class="no-line text-right">{{orderModel.taxAmount | currency:'SGD':'code'}}
                      </td>
                      <td *ngIf="orderModel.taxAmount == 0" class="no-line text-right">-</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="thick-line text-center"><strong>Total</strong></td>
                      <td class="thick-line text-right"><strong>{{getTotal() | currency:'SGD':'code'}}</strong></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
