//img{
//  width: 150px;
//  height: 150px;
//}


.pi-image {
  > tbody > tr {

    > td {
      padding: 8px;
    }
  }

  &-image {
    display: inline-block;
    position: relative;
    margin-right: 4px;

    > app-select-image-field {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
    }

    >.delete-button{
      position: absolute;
      top: 50%;
      right: 50%;
      background: transparent;
      color: red;
      cursor: pointer;
    }

    > img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }

    &-selected {
      position: relative;

      > img {
        width: 200px;
        height: 200px;
      }

      > .flex {
        position: absolute;
        bottom: 0;
        width: 100%;

        > button {
          width: 100%;
        }
      }
    }
  }

  &-link {
    color: blue !important;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.add-image{
  width: 200px; height: 200px;
}

.img-delete {
  width: 200px;
  height: 200px;
}
