<div class="flex">
  <div *ngFor="let i of models; let idx = index" class="pi-image-image">
    <img [src]="getFilePath(i)" alt="My Offer" class="img-thumbnail">
    <span (click)="showDeleteDialog(i)" class="fa fa-times delete-button" aria-hidden="true"></span>
    <app-select-image-field btnClass="button-link"
                            icon="fa fa-pencil" btnText=""
                            [isSelectedImageShown]="false"
                            (onImageSelect)="previewImage($event, i, idx)"
                            [max]="1"></app-select-image-field>


    <div class="flex" *ngIf="upload[idx] === true">
      <button class="btn btn-main btn-block" (click)="changeImage($event, idx)">Upload</button>
      <button class="btn btn-danger" (click)="cancelChangeImage($event, idx)">Cancel</button>
    </div>
  </div>

  <div class="pi-image-image" >
    <img [src]="getFilePath(newImageId)" alt="My Offer" class="img-thumbnail">
    <app-select-image-field btnClass="btn btn-main"
                            btnText="Add Image"
                            [isSelectedImageShown]="false"
                            (onImageSelect)="previewImageAdd($event)"
                            [max]="1"></app-select-image-field>

    <div class="flex" *ngIf="addImage === true">
      <button class="btn btn-main btn-block" (click)="addNewImage()">Upload</button>
      <button class="btn btn-danger" (click)="canceladdNewImage()">Cancel</button>
    </div>
  </div>
</div>
<app-confirm-dialog title="Delete Event Image"
                    (yes)="delete()"
                    [(opened)]="isDeleteConfirmDialogOpened">
  <p>Are you sure to delete this image?</p>
  <img [src]="getImageDelete()" alt="My Offer" class="img-delete">
</app-confirm-dialog>

