<nav class="nav az-navbar fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
    <img src="/assets/img/logo.png" style="width: 100px;" alt="" class="d-md-block d-none">
    <img src="/assets/img/logo.png" style="width: 100px;" alt="" class="d-md-none">
  </a>
  <div id="lines" class="transition" (click)="toggleMenu()"></div>
  <ul class="nav right-section">
    <li class="nav-item">
      <div class="dropdown float-right user-menu">
        <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="/assets/default-profile.png" alt="user-img" class="img-circle user-img">
          <span class="d-lg-inline d-none">{{userName}}</span>
        </a>

        <ul class="dropdown-menu">
          <li class="user-info">
            <img src="/assets/default-profile.png" alt="user-img" class="img-circle user-img">
            <p>
              {{userName}}
              <!--<small>Member since Dec. 2015</small>-->
            </p>
          </li>
          <!--<a class="dropdown-item" routerLink="profile"><i class="fa fa-user"></i>Profile</a>-->
          <!--<a class="dropdown-item" routerLink="settings"><i class="fa fa-cog"></i>Settings</a>-->
          <!--<a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a>-->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor" (click)="logOut()"><i class="fa fa-power-off"></i>Log out</a>
        </ul>
      </div>
    </li>
  </ul>

</nav>
