<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{testimonial.jobTitle}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="view-testimonial-action">
        <button class="btn btn-success" *ngIf="testimonial.status == '11'" (click)="publish()">Publish</button>
        <button class="btn btn-primary" *ngIf="testimonial.status == '10'" (click)="deactivate()">Deactivate</button>
        <button class="btn btn-danger" (click)="showDeleteDialog()">Delete</button>
        ( Current Status: {{ testimonial.statusText}} )
      </div>

      <app-confirm-dialog title="Delete Blog"
                          (yes)="delete()"
                          [(opened)]="isDeleteConfirmDialogOpened">
        Are you sure to delete the testimonial?
      </app-confirm-dialog>

      <div class="view-testimonial-image">
        <img [src]="generateImagePathById(testimonial.personPictureId)">
      </div>

      <div class="view-testimonial" *ngIf="!isEditMode">
        <button class="button-link right" (click)="setEditMode(true)"><span class="fa fa-edit"></span></button>
        <div class="view-testimonial-title">
          {{ testimonial.personName }} - {{ testimonial.jobTitle }} <br />
          ( {{ testimonial.personNameChinese }} - {{ testimonial.jobTitleChinese }} )
          <div class="view-testimonial-date">{{ getDateTime(testimonial.createdAt) }}</div>
        </div>
        <div class="view-testimonial-testimonial">
          {{ testimonial.message }}
          <hr />
          {{ testimonial.messageChinese }}
        </div>
      </div>

      <th-testimonial-edit-form *ngIf="isEditMode" [model]="testimonial" (success)="handleEditTestimonialSuccess()"></th-testimonial-edit-form>
      <!-- <th-edit-blog-form *ngIf="isEditMode" [model]="blog" (success)="handleEditBlogSuccess()"></th-edit-blog-form> -->

    </div>
  </div>
</div>
