.view-testimonial {
  &-title {
    margin: 16px 0;
    text-align: center;
    font-size: 24px;
  }

  &-date {
    font-size: 12px;
  }

  &-image {
    text-align: center;

    > img {
      max-width: 300px;

    }
  }
}
