<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Send Subscribe email</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <app-form [rules]="getRules()" [url]="url"
                [validationMessages]="getValidationMessages()"
                (successForm)="successForm($event)"
                class="ab-form"
                [authKeyNeeded]="true">

        <div class="field-label">
          Subject
        </div>
        <app-input #field [(value)]="model.subject"
                   name="subject"
                   placeholder=""></app-input>

        <div class="field-label">
          Body
        </div>
        <app-ckeditor #field [(value)]="model.body" name="body">
        </app-ckeditor>


        <app-button #submit type="submit"
                    class="btn-tab"
                    btnClass="btn btn-main btn-block">Send
        </app-button>
      </app-form>

    </div>
  </div>
<br />
  <th-subscribe-email-list></th-subscribe-email-list>
</div>
