<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Add Testimonial</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <app-form [rules]="getRules()" [url]="url"
                [validationMessages]="getValidationMessages()"
                (successForm)="successForm($event)"
                class="ab-form"
                [authKeyNeeded]="true">

        <div class="field-label">
          Person Picture (Currently, this field is not being reflected to the customer panel)
        </div>
        <app-select-image-field [max]="1"
                                (onImageSelect)="handleOnImageSelect($event)">
        </app-select-image-field>

        <app-input #field [(value)]="model.personPictureId" name="personPictureId"
                   type="hidden"></app-input>

        <div class="field-label">
          Person Name
        </div>
        <app-input #field [(value)]="model.personName"
                   name="personName"
                   placeholder="Please enter the Person Name"></app-input>

        <div class="field-label">
          Chinese Person Name
        </div>
        <app-input #field [(value)]="model.personNameChinese"
                   name="personNameChinese"
                   placeholder="Please enter the Person Name"></app-input>

        <div class="field-label">
          Job Title
        </div>
        <app-input #field [(value)]="model.jobTitle"
                   name="jobTitle"
                   placeholder="Please enter the Job Title"></app-input>

        <div class="field-label">
          Chinese Job Title
        </div>
        <app-input #field [(value)]="model.jobTitleChinese"
                   name="jobTitleChinese"
                   placeholder="Please enter the Job Title"></app-input>

        <div class="field-label">
          Message
        </div>
        <app-textarea #field [(value)]="model.message" name="message">
        </app-textarea>

        <div class="field-label">
          Chinese Message
        </div>
        <app-textarea #field [(value)]="model.messageChinese" name="messageChinese">
        </app-textarea>


        <app-button #submit type="submit"
                    class="btn-tab"
                    btnClass="btn btn-main btn-block">Add
        </app-button>
      </app-form>

    </div>
  </div>
</div>
