<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">INVOICE : {{model.customerName}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="right">
        <span class="fa fa-trash red cursor" (click)="setDeleteDialog(true)"></span>
        <a class="fa fa-print" (click)="handlePrintOut()"></a>
      </div>

      <table class="table table-responsive">
        <tr>
          <td>Order Id</td>
          <td> :</td>
          <td>{{model.id}}</td>
        </tr>
        <tr>
          <td>Customer Name</td>
          <td> :</td>
          <td>{{model.customerName}}</td>
        </tr>
        <tr>
          <td>Total Cost</td>
          <td> :</td>
          <td>{{model.totalProductCost}}</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td> :</td>
          <td>{{model.taxAmount}}</td>
        </tr>
        <tr>
          <td>Coupon</td>
          <td> :</td>
          <td>
            <span *ngFor="let rule of model.rule">
              <span>{{rule.couponCode}}</span>
            </span>

          </td>
        </tr>
        <tr>
          <td>Date</td>
          <td> :</td>
          <td>{{getStringDate(model.updatedAt)}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td> :</td>
          <td>{{model.shippingAddress}}</td>
        </tr>
      </table>

      <th-invoice-item-list [models]="model.orderItem"></th-invoice-item-list>

    </div>
  </div>
</div>


<app-confirm-dialog
  [(opened)]="dialogConfirm"
  (yes)="changeStatus()"
><h6>Do you want to change status ?</h6>
</app-confirm-dialog>


<app-confirm-dialog
  [(opened)]="dialogDelete"
  (yes)="deleteOrder()"
>
  <h6>Do you want to delete this order ?</h6>
</app-confirm-dialog>
