<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">Add Featured Attribute</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-body widget-body">

    <app-form #form [rules]="getRules()" [customSubmitMode]="true" [validationMessages]="getValidationMessages()" (successValidation)="featureAttribute($event)">
      <div class="af-attribute">

        <app-search2 #field [name]="ATTRIBUTE_ID" placeholder="Enter attribute name" 
                [url]="searchUrl" valueIndex="id" textIndex="name"
          [(items)]="attributeModels" [total]="4" (dataChange)="handleAttributeDataChange($event)">
          <ng-template let-item="item">
            <div class="af-attribute-dropdown">
              {{item.name}}
            </div>
          </ng-template>
        </app-search2>
        <!-- <app-input #field [name]="ATTRIBUTE_NAME" inputClass="input" placeholder="Name"></app-input> -->
        <app-input #field [(value)]="model.attributeValue" [name]="ATTRIBUTE_VALUE" inputClass="input" placeholder="Value"></app-input>
        <app-input #field [(value)]="model.attributeValueChinese" [name]="ATTRIBUTE_VALUE_CHINESE" inputClass="input" placeholder="Value in Chinese"></app-input>
        <app-button #submit type="submit" btnClass="btn fit btn-primary">Save</app-button>
      </div>

    </app-form>
  </div>
</div>