<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">List Product</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <th-product-filter-form (filter)="handleOnFilter($event)"></th-product-filter-form>

      <ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [limit]="10"
        [rows]='models'
        [count]="total"
        [offset]="page - 1"
        (page)="list($event.offset + 1)">

        <ngx-datatable-column name="Id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.id }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="cursor blue_text" (click)="getProductURL(row.id)">{{ row.name }}</span>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Last update">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ getDate(row.updatedAt) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button *ngIf="row.status=='11'" class="btn btn-success" (click)="changeStatus(row.id, '10')">Approve
            </button>
            <button *ngIf="row.status=='11'" class="btn btn-danger" (click)="changeStatus(row.id, '0')">Danny</button>
            <button *ngIf="row.status=='10'" class="btn btn-warning" (click)="openDialogConfirm(row.id, row)">Delete
            </button>
            <button *ngIf="row.status=='0'" class="btn btn-info" (click)="changeStatus(row.id, '11')">Restore</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>


<app-confirm-dialog
  [opened]="isDialogConfirm"
  [title]="'Delete'"
  (yes)="changeStatus(model.id, '0')"
><h6>Do you wan to delete</h6>
  <p>id : {{model.id}}</p>
  <p>name : {{model.name}}</p>
</app-confirm-dialog>
