<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">Order Report</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <th-date-report></th-date-report>
    <th-week-report></th-week-report>
    <th-month-report></th-month-report>
    <th-year-report></th-year-report>

  </div>
</div>
