<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          [authKeyNeeded]="true"
          class="">

    <app-input #field [(value)]="model.id" name="id" type="hidden"></app-input>

  <div class="acf-field">
    <div class="field-label"> Name</div>
    <app-input #field
               [(value)]="model.name" name="name"
               placeholder=""
               type="text"></app-input>
  </div>


  <div class="acf-field">
    <div class="field-label"> Cost</div>
    <app-input #field
               [(value)]="model.cost" name="cost"
               placeholder=""
               type="text"></app-input>
  </div>

  <app-button #submit type="submit"
              class="btn-tab"
              btnClass="btn btn-main btn-block">Edit
  </app-button>
</app-form>
