<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{model.name}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition">
          <i class="fa fa-chevron-down"></i>
        </a>
        <a data-widgster="collapse" href="#" class="transition">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a data-widgster="fullscreen" href="#" class="transition">
          <i class="fa fa-expand"></i>
        </a>
        <a data-widgster="restore" href="#" class="transition">
          <i class="fa fa-compress"></i>
        </a>
      </div>
    </div>
    <div class="card-body widget-body">

      <th-product-image-list [models]="model.images" [productId]="model.id"></th-product-image-list>

      <div *ngIf="!isEditMode">

        <span class="fa fa-pencil right" (click)="setEditModel(true)"></span>
        <table class="table table-responsive">
          <tr>
            <td>Name</td>
            <td> :</td>
            <td>{{model.name}}</td>
          </tr>
          <tr>
            <td>Translate Name</td>
            <td> :</td>
            <td>{{model.nameChinese}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td> :</td>
            <td>{{model.defaultPrice}}</td>
          </tr>
          <tr>
            <td>Price before discount</td>
            <td>:</td>
            <td>{{ model?.priceBeforeDiscount }}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td> :</td>
            <td>{{model.quantity}}</td>
          </tr>

          <tr>
            <td>Alcohol (%)</td>
            <td> :</td>
            <td>{{model.alcoholPercentage}}</td>
          </tr>
          
          <tr>
            <td>Volume (ml)</td>
            <td> :</td>
            <td>{{model.volumeInMl}}</td>
          </tr>
          <tr>
            <td>Categories</td>
            <td> :</td>
            <td>
              <span *ngFor="let category of model.categories">
                <ul>
                  <li>{{category.name}}</li>
                </ul>
              </span>
            </td>
          </tr><tr>
            <td>Attribute available</td>
            <td> :</td>
            <td>
              <span *ngFor="let attribute of model.attributes">
                <ul>
                  <li>{{attribute.attributeName}} = {{attribute.attributeValue}}</li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td> :</td>
            <td><div [innerHtml]="model.description | safeHtml"></div></td>
          </tr>
          <tr>
            <td>Translate Description</td>
            <td> :</td>
            <td><div [innerHtml]="model.descriptionChinese | safeHtml"></div></td>
          </tr>
        </table>
      </div>
      <th-product-edit-form *ngIf="isEditMode" [model]="model" (success)="setEditModel(false)"></th-product-edit-form>
    </div>
  </div>
</div>
