<div class="filter-user">
  <div class="form-group">
    <app-input type="text" [(value)]="search"
               placeholder="Enter text search user"></app-input>
  </div>

  <div>
    <button class="btn btn-main" (click)="handleOnFilter()">Filter</button>
    <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div>
</div>
