<div class="search2">
  <app-input [placeholder]="placeholder" type="text"
      [(value)]="text"
      (valueChange)="handleInputValueChange($event)"
      (click)="refreshData($event)"
      [class.search2-error]="errorMessage"
      [inputClass]="(value) ? 'input full selected' : 'input full'"
      ></app-input>
  <div *ngIf="noResultFound" class="search2-not-found">
    No Result Found
  </div>
  <div *ngIf="getDataKeys().length !== 0" class="search2-dropdown">
      <div *ngFor="let item of items" 
            class="search2-dropdown-item"
            (click)="triggerDropdownItemClick(item)">
          <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{item: item}"></ng-template>
            
      </div>
  </div>
  <div class="help-block text-danger">
    {{ errorMessage }}
  </div>
</div>
