.input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
}

.input-error { 
    border: 1px solid red;
}

.input.disabled {
    cursor: not-allowed;
}

.input.full {
    width: 100%;
}

.input.no-border {
    border: 0;
    height: 100%;
}

.input.selected {
    background: whitesmoke;
}