<div class="field">
  <input (keyup)="onChange($event)"
   [class]="inputClass"
   [class.input-error]="errorMessage"
   [placeholder]="placeholder"
   [class.disabled]="disabled" [(ngModel)]="value" [type]="type">
  <div class="help-block text-danger">
    {{errorMessage}}
  </div>
</div>