<div class="list-user-header">
  <button class="btn btn-success" (click)="downloadCsv()">Download to CSV</button>
</div>

<br />
<th-filter-user-list (filter)="handleSearch($event)"></th-filter-user-list>
<br />

<ngx-datatable
  #table
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [limit]="pageSize"
  [rows]='models'
  [count]="total"
  [offset]="page - 1"
  (page)="getPage($event.offset + 1)">

  <ngx-datatable-column name="Id" [maxWidth]="80">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.id }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Full Name">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span class="cursor blue_text" (click)="getUserURL(row.id)">{{ row.fullName }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Email">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.email }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Validated">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.isValidated ? 'True' : 'False' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Subscribe Newsletter">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.isNewsletter ? 'True' : 'False' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Created At">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ getDateTime(row.createdAt) }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
