<div class="field">
  <input placeholder="Search for Location" 
        #search
        autocorrect="off" autocapitalize="off" spellcheck="off" 
        type="text" class="form-control" >
    
  <agm-map #map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng" 
                (dragEnd)="handleDragEnd($event)"
                [markerDraggable]="markerDraggable"></agm-marker>
  </agm-map>
  <div class="field-error">
    {{errorMessage}}
  </div>
</div>