<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{blog.title}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="view-blog-action">
        <button class="btn btn-success" *ngIf="blog.status == '11'" (click)="publish()">Publish</button>
        <button class="btn btn-primary" *ngIf="blog.status == '10'" (click)="deactivate()">Deactivate</button>
        <button class="btn btn-danger" (click)="showDeleteDialog()">Delete</button>
        ( Current Status: {{ blog.statusText}} )
      </div>

      <app-confirm-dialog title="Delete Blog"
                          (yes)="delete()"
                          [(opened)]="isDeleteConfirmDialogOpened">
        Are you sure to delete the News?
      </app-confirm-dialog>

      <div class="view-blog-image">
        <img [src]="generateImagePathById(blog.thumbnailId)">
      </div>

      <div class="view-blog" *ngIf="!isEditMode">
        <button class="button-link right" (click)="setEditMode(true)"><span class="fa fa-edit"></span></button>
        <div class="view-blog-title">
          {{ blog.title }} ( {{blog.titleChinese}} )
          <div class="view-blog-date">{{ getDateTime(blog.createdAt) }}</div>
        </div>
        <div class="view-blog-blog" [innerHtml]="blog.blog"></div>
          <hr />
        <div class="view-blog-blog" [innerHtml]="blog.blogChinese"></div>
      </div>

      <th-blog-edit-form *ngIf="isEditMode" [model]="blog" (success)="handleEditBlogSuccess()"></th-blog-edit-form>


    </div>
  </div>
</div>
