<div class="field">
    <app-button [btnClass]="btnClass" (click)="openSelectImage($event)">
      <span *ngIf="icon" [class]="icon"></span>
      {{ btnText }}
    </app-button>
    <div class="field-area" *ngIf="isSelectedImageShown">
      <img *ngFor="let model of models" class="select-image-field-image" [src]="generateImagePath(model.path)"/>
    </div>
    <div class="field-error">
      {{errorMessage}}
    </div>
</div>

<app-select-image [(opened)]="selectImageOpened" [max]="max"
  (select)="handleSelectEvent($event)"></app-select-image>

