<th-add-featured-attribute (success)="fetchPage()">
</th-add-featured-attribute>
<br>
<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Featured Attribute</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-body widget-body">
    <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [externalPaging]="true" [limit]="models.length" [rows]='models' [count]="models.length" [offset]="models.length - 1" (page)="fetchPage()">
      <ngx-datatable-column name="Id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Attribute Name">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.attributeName }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Attribute Value">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.attributeValue }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Attribute Value In Chinese">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.attributeValueChinese }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ dateService.getDateNumberFormat(row.createdAt) }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button class="btn btn-primary" (click)="deleteFeaturedAttribute(row.id)">Delete</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>
</div>
