<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">Add Newsletter</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <app-form [rules]="getRules()"
                [url]="url"
                [validationMessages]="getValidationMessages()"
                (successForm)="successForm($event)"
                [authKeyNeeded]="true">

        <div class="field-label">
          Title
        </div>
        <app-input #field [value]="model.title" name="title" type="text"
                   placeholder="Please enter the title"></app-input>


        <div class="field-label">
          Newsletter
        </div>

        <app-ckeditor #field [(value)]="model.newsletter" name="newsletter">
        </app-ckeditor>

        <app-button #submit type="submit" btnClass="btn btn-main btn-block" class="btn-tab">Add
        </app-button>

      </app-form>
    </div>
  </div>
</div>
