<ngx-datatable
  #table
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [limit]="10"
  [rows]='models'
  [count]="models.length">

  <ngx-datatable-column name="Id" >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.id }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a (click)="getProductId(row.productId)">{{ row.productName }}</a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Unit price">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.price }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Quantity">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.quantity }}
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>
