<div class="field">
  <div class="checkbox-area">
    <input type="checkbox" (change)="handleChange($event)" class="checkbox"
      [checked]="value"> 
    <span class="checkbox-content">
      <ng-content></ng-content>
    </span>
  </div>
  <div class="help-block text-danger">
    {{errorMessage}}
  </div>
</div>