<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          [authKeyNeeded]="true"
          class="lend-form">

  <div class="acf-field">
    <div class="field-label">Name</div>
    <app-input #field
               [(value)]="model.name" name="name"
               placeholder=""
               type="text"></app-input>
  </div>

  <div class="acf-field">
    <div class="field-label">Description</div>
    <app-input #field
               [(value)]="model.description" name="description"
               placeholder=""
               type="text"></app-input>
  </div>

  <app-button #submit type="submit"
              class="btn-tab"
              btnClass="btn btn-main btn-block">Add
  </app-button>

</app-form>
