<div class="field">
    <div class="mul-search-input-wrapper">
      <span class="mul-search-selected">
          <app-mul-search-item *ngFor="let item of selectedItems" [value]="item"
              (remove)="handleRemoveEvent($event)">
          </app-mul-search-item>
      </span>
      <app-input [placeholder]="placeholder" type="text"
          [(value)]="text"
          inputClass="input no-border"
          (valueChange)="handleInputValueChange($event)"
          (click)="refreshData($event)"
          ></app-input>
    </div>
    <div *ngIf="noResultFound" class="search-not-found">
      No Result Found
    </div>
    <div *ngIf="getDataKeys().length !== 0" class="search-dropdown">
        <div *ngFor="let key of getDataKeys()" 
              class="search-dropdown-item"
              [class.disabled]="isDataDisabled(key)"
              (click)="triggerDropdownItemClick(key)">
          {{ findItem(key).text }}
        </div>
    </div>
    <div class="field-error">
      {{ errorMessage }}
    </div>
  </div>
  