<div class="login-container">
  <div class="col-xl-4 col-md-6 col-10 mx-auto">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Sign in</h2>
        <az-login-form></az-login-form>
        <button class="btn btn-link cursor" >Forgot Password</button>
      </div>
    </div>
  </div>
</div>
