
<div class="upload-image-right">
  <img (click)="displaySelectImage($event)" class="upload-image-area" [src]="imageSrc"/>
  <input #input type="file" class="hide" (change)="readUrl($event)"/>  
  <div class="upload-image-actions">
    <app-button text="Upload" (click)="upload($event)" [disabled]="uploadDisabled"
        class="button blue right">
      Upload
    </app-button>
  </div>
</div>