<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{model.name}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div *ngIf="!isEditMode"></div>

      <span class="fa fa-pencil right" (click)="setEditModel(true)"></span>
      <table class="table table-responsive">
        <tr>
          <td>Name</td>
          <td> :</td>
          <td>{{model.name}}</td>
        </tr>
        <tr>
          <td>Cost</td>
          <td> :</td>
          <td>{{model.cost}}</td>
        </tr>
      </table>


    </div>
  </div>
</div>
