<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Coupon</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <div class="salesrule__actions">
      <button class="btn btn-primary" routerLink="/pages/salesrule/add">Add Coupon</button>
    </div>
    <ngx-datatable
      #table
      class='material'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [limit]="pageSize"
      [rows]='models'
      [count]="total"
      [offset]="page - 1"
      (page)="getPage($event.offset + 1)">

      <ngx-datatable-column name="Id" [maxWidth]="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coupon Code">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ row.couponCode }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ getDateTime(row.createdAt) }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Expiry Date">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ getDateTime(row.expiryDate) }}</p>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.statusText }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button class="button-link" (click)="showEditModal(row)">Edit</button>
          <button class="button-link" (click)="showDeleteModal(row)">Delete</button>
          <button class="button-link" (click)="changeStatusCoupon(10, row, 'Active')"
                  *ngIf="row.status == 11">Activate
          </button>
          <button class="button-link" (click)="changeStatusCoupon(11, row, 'Pending')"
                  *ngIf="row.status == 10">Deactivate
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <app-confirm-dialog title="Delete Coupon" [(opened)]="isDeleteCouponModalOpened"
                        (yes)="deleteCoupon()">
      Delete this Coupon: {{ onDeleteCoupon.couponCode }}
    </app-confirm-dialog>

    <app-modal title="Edit Coupon" [(opened)]="isEditCouponModalOpened">
      <th-edit-salesrule-form [model]="onEditCoupon"
                              (success)="handleEditSuccess($event)"></th-edit-salesrule-form>
    </app-modal>

  </div>
</div>
