<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">List Category</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <button class="btn btn-primary" (click)="setAddCategory(true)">Add</button>

      <ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [limit]="10"
        [rows]='models'
        [count]="total"
        [offset]="page - 1"
        (page)="list($event.offset + 1)">

        <ngx-datatable-column name="Name">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Created At">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ getDate(row.createdAt) }}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>

<app-modal [(opened)]="isAddCategory" title="New category">
  <th-category-add-form (success)="setAddCategory(false)"></th-category-add-form>
</app-modal>
