<div class="filter-product">

  <div class="form-group">
    <div class="field-label">
      Search User
    </div>
    <app-search2 #field
                 [(value)]="userId"
                 name="userId"
                 placeholder="Search User"
                 [url]="userUrl"
                 valueIndex="id"
                 textIndex="firstName"
                 [(items)]="userModels"
                 [(total)]="userTotal"
                 (dataChange)="handleUserChange($event)">
      <ng-template let-item="item">
        <div class="av-form-dropdown">
          {{item.firstName}} {{item.lastName}}
        </div>
      </ng-template>
    </app-search2>
  </div>

  <!--<div class="form-group">-->
  <!--<div class="field-label">search</div>-->
  <!--<app-input type="text" [(value)]="userId"-->
  <!--placeholder="Enter text search product"></app-input>-->
  <!--</div>-->


  <div class="form-group">
    <div class="field-label">Start date</div>
    <app-input type="date"
               #startDate
    ></app-input>
  </div>


  <div class="form-group">
    <div class="field-label">End date</div>
    <app-input type="date"
               #endDate
    ></app-input>
  </div>


  <div>
    <div class="field-label">Status</div>
    <app-dropdown [(value)]="statusValue" [items]="statusItems"
                  [(text)]="statusText"
                  placeholder="Select Status"></app-dropdown>
  </div>
  <div>
    <button class="btn btn-main" (click)="handleOnFilter($event, startDate.value, endDate.value)">Filter</button>
    <br/>
    <button class="btn btn-danger" (click)="resetFilter()">Reset</button>
  </div>
</div>
