<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          [authKeyNeeded]="true"
          class="lend-form">

  <div style="display: flex">

    <div class="acf-field">
      <app-input #field
                 [(value)]="model.name" name="name"
                 placeholder="Name"
                 type="text"
      ></app-input>
    </div>

    <div class="acf-field">
      <app-input #field
                 [(value)]="model.cost" name="cost"
                 placeholder="Cost"
                 type="number"></app-input>
    </div>

    <app-button #submit type="submit"
                class="btn-tab hide"
                btnClass="">Add
    </app-button>
  </div>
</app-form>
