<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          [authKeyNeeded]="true"
          class="lend-form">

  <div class="acf-field">
    <app-input #field
               [(value)]="model.name" name="name"
               placeholder=""
               type="text"></app-input>
  </div>

  <app-button #submit type="submit"
              class="btn-tab"
              btnClass="btn btn__primary">Add
  </app-button>

</app-form>
