<app-form [rules]="getRules()" [url]="url"
          [validationMessages]="getValidationMessages()"
          (successForm)="successForm($event)"
          class="asr-form"
          [method]="'GET'"
          [authKeyNeeded]="true">

  <app-input #field [(value)]="model.id"
             name="id" type="hidden"></app-input>

  <div class="field-area">
    <div class="field-label">
      Name
    </div>
    <app-input #field [(value)]="model.name"
               name="name"
               placeholder=""></app-input>
  </div>

  <div class="field-area">
    <div class="field-label">
      Expiry Date
    </div>

    <app-datepicker #field
                    [value]="model.expiryDate"
                    (valueChange)="getExpiryDate($event)"
                    name="expiryDate" [settings]="settingsDatePicker"></app-datepicker>
  </div>

  <div class="field-area">
    <div class="field-label">
      Coupon Code
    </div>
    <app-input #field [(value)]="model.couponCode"
               name="couponCode"
               placeholder=""></app-input>
  </div>

  <div class="field-area">
    <div class="field-label">
      Discount (%)
    </div>
    <app-input #field
               [(value)]="model.discount"
               name="discount"
               type="number"
               placeholder="Discount 0 - 100 (%)"></app-input>
  </div>

  <app-input #field [value]="timezoneOffset"
             type="hidden"
             name="timezoneOffset"></app-input>

  <app-button #submit type="submit"
              class="btn-tab"
              btnClass="btn btn-main btn-block" *ngIf="edit">Save
  </app-button>
</app-form>
