<app-form [rules]="getRules()" [url]="url" [validationMessages]="getValidationMessages()" (successForm)="successForm($event)"
  [authKeyNeeded]="false">
  <div class="field-label">
    Email
  </div>
  <app-input #field [value]="model.email" name="email" type="email" placeholder="Please enter the email"></app-input>

  <div class="field-label">
    Password
  </div>
  <app-input #field [value]="model.password" name="password" type="password" placeholder="Please enter the password"></app-input>

  <app-button #submit type="submit" btnClass="btn btn-main btn-block" class="btn-tab">Login</app-button>
</app-form>
