<div class="dropdown-wrapper">
  <div class="dropdown-input" 
      [class.dropdown-error]="errorMessage"
      (click)="toggleDropdown($event)">
    <input [placeholder]="placeholder" type="text"
        [(value)]="text"
        class="input"
        disabled="true"/>
    <span class="fa fa-angle-up" *ngIf="dropdownOpened" (click)="closeDropdown($event)"></span>
    <span class="fa fa-angle-down" *ngIf="!dropdownOpened" (click)="openDropdown($event)"></span>
    
  </div>
  <div *ngIf="items.length == 0 && dropdownOpened" class="dropdown-area">
    No Result Found
  </div>
  <div *ngIf="dropdownOpened" class="dropdown-area">
    <div *ngFor="let item of items" 
          class="dropdown-area-item"
          (click)="triggerDropdownItemClick(item ,$event.target.innerText)">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{item: item}"></ng-template>
    </div>
  </div>
  <div class="help-block text-danger">
    {{ errorMessage }}
  </div>
</div>
  