<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Event</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-body widget-body">
    <div class="blog-list__actions">
      <button class="btn btn-primary" routerLink="/pages/event/add">Add Event</button>
    </div>
    <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [externalPaging]="true" [limit]="pageSize" [rows]='models' [count]="total" [offset]="page - 1" (page)="fetchPage($event.offset)">

      <ngx-datatable-column name="Id" [maxWidth]="10">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="redirectToEventUrl(row.id)" class="btn-link">{{ row.title }}</button>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Start At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ getDateTime(row.startAt) }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ getDateTime(row.createdAt) }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ row.statusText }}</p>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>