<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">List Shipment</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <th-shipment-add-form (success)="list()"></th-shipment-add-form>

      <ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [rows]='models'
        (page)="list()">

        <ngx-datatable-column name="Name">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cost">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.cost}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Updated At">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ getDate(row.updatedAt) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="#">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="fa fa-pencil blue_text cursor" (click)="setEditModal(true, row)"></span>
            <span class="fa fa-trash red_text cursor" (click)="setConfirDeleteModal(true, row)"></span>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>

<app-modal
  [(opened)]="editModal">
  <th-shipment-edit-form [model]="shipmentModel" (success)="list()"></th-shipment-edit-form>
</app-modal>

<app-confirm-dialog
[(opened)]="confirmDeleteModal"
(yes)="delete()"
>
  <h6>Do you want to delete shipment?</h6>
  <p>name : {{shipmentModel.name}}</p>
  <p>cost : {{shipmentModel.cost}}</p>

</app-confirm-dialog>
