<div class="form-group">
  <div class="field-label">Search</div>
  <app-search2 #field [(value)]="q"
               name="id"
               placeholder="Please enter search user name"
               [url]="url"
               valueIndex="id"
               textIndex="firstName"
               [(items)]="models"
               [(total)]="total"
               [authKeyNeeded]="true"
               (dataChange)="handleCustomerDataChange($event)"
               (valueChange)="handleOnValueChange($event)"
  >
    <ng-template let-item="item">
      <div class="av-form-dropdown">
        {{item.firstName}} {{item.lastName}}
      </div>
    </ng-template>
  </app-search2>

</div>


<div class="filter-product">
  <div class="form-group">
    <app-datepicker [(value)]="startDateValue" (valueChange)="getStartDate($event)"></app-datepicker>
  </div>


  <div class="form-group">
    <app-datepicker [(value)]="endDateValue" (valueChange)="getEndDate($event)"></app-datepicker>
  </div>


  <div>
    <app-dropdown [(value)]="statusValue" [items]="statusItems"
                  [(text)]="statusText"
                  placeholder="Select Status"
    ></app-dropdown>
  </div>


  <div style="display: flex; flex-direction: column;justify-content: space-evenly;">
    <button class="btn btn-main" (click)="handleOnFilter()">Filter</button>

    <button class="btn btn-danger" (click)="resetFilter()">Reset</button>
  </div>
</div>
