<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">ORDER</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="right">
        <a class="fa fa-print" (click)="handlePrintOut()"></a>
      </div>

      <div style="margin-bottom: 30px; display: flex; flex-direction: column" *ngIf="model">
        <h6>Status</h6>
        <ul>
          <li class="{{getWizardActiveStatus('1')}}">
            <span class="marker-number fa fa-shopping-cart">&nbsp;</span>
            <span class="marker-line"></span>
            <span class="marker-text">In Cart</span>
          </li>
          <li class="{{getWizardActiveStatus('3')}}">
            <span class="marker-number 	fa fa-circle-o-notch">&nbsp;</span>
            <span class="marker-line"></span>
            <span class="marker-text">Proses</span>
          </li>
          <li class="{{getWizardActiveStatus('4')}}">
            <span class="marker-number fa fa-check">&nbsp;</span>
            <span class="marker-line"></span>
            <span class="marker-text"></span>
          </li>
          <li class="{{getWizardActiveStatus(5)}}">
            <span class="marker-number fa fa-send-o">&nbsp;</span>
            <span class="marker-line"></span>
            <span class="marker-text"></span>
          </li>
          <li class="{{getWizardActiveStatus(6)}}">
            <span class="marker-number fa fa-flag-checkered">&nbsp;</span>
            <span class="marker-text"></span>
          </li>
        </ul>
      </div>

      <table class="table table-responsive">
        <tr>
          <td>Order Id</td>
          <td> :</td>
          <td>{{model.id}}</td>
        </tr>
        <tr>
          <td>Customer Name</td>
          <td> :</td>
          <td>{{model.customerName}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td> :</td>
          <td>{{model.statusText}}</td>
        </tr>
        <tr>
          <td>Proof of payment
          </td>
          <td> :</td>
          <td><img src={{getFilePath(model.imageId)}} width="150" height="150"></td>
        </tr>
        <tr>
          <td>Change Status
          </td>
          <td> :</td>
          <td>
            <button *ngIf="model.status == statusSendToProses" class="btn btn-success"
                    (click)="openDialogConfirm(true, statusAdminHasAcceptedAndSend)">Accept
            </button>
            <button *ngIf="model.status == statusSendToProses" class="btn btn-danger"
                    (click)="openDialogConfirm(true, statusDeleted)">Deny
            </button>
          </td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td> :</td>
          <td>{{model.totalProductCost}}</td>
        </tr>
      </table>

      <th-sales-order-item-list [models]="model.orderItem"></th-sales-order-item-list>

    </div>
  </div>
</div>


<app-confirm-dialog
  [(opened)]="dialogConfirm"
  (yes)="changeStatus()"
><h6>Do you want to change status ?</h6>
</app-confirm-dialog>
