a {
  cursor: pointer
}

ul {
  text-align: justify;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

li {
  position: relative;
  width: 20%;
  text-align: center;
  display: inline;
  padding-bottom: 20px;
}

.marker-number {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.7em;
  border-radius: 50%;
  background: #21a2d1;
  display: inline-block;
}

.marker-line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #21a2d1;
  top: 10px;
}

li.active span.marker-number,
li.active span.marker-line {
  background: #04497b;
}

.active ~ li span.marker-number,
.active ~ li span.marker-line {
  background: #b7b7b7;
}

span.marker-text {
  color: #7d7d7d;
  font-size: 12px;
  line-height: -15px;
  font-family: Arial;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
