<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">View User Info</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <th-view-user></th-view-user>
  </div>
</div>

<br />
<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">Order History</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <th-list-order-by-user></th-list-order-by-user>
  </div>
</div>
