<div class="testimonial__actions">
  <button class="btn btn-primary" routerLink="/pages/testimonial/add">Add Testimonial</button>
</div>
<div widget class="card">
  <div class="card-header">
    <span class="text-uppercase">List Testimonial</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition">
        <i class="fa fa-chevron-down"></i>
      </a>
      <a data-widgster="collapse" href="#" class="transition">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a data-widgster="fullscreen" href="#" class="transition">
        <i class="fa fa-expand"></i>
      </a>
      <a data-widgster="restore" href="#" class="transition">
        <i class="fa fa-compress"></i>
      </a>
    </div>
  </div>
  <div class="card-body widget-body">

    <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [externalPaging]="true" [limit]="10" [rows]='data' [count]="total" [offset]="page - 1" (page)="getPage($event)">

      <ngx-datatable-column name="Id" [maxWidth]="10">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Person Name">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="redirectToTestimonialUrl(row)" class="btn-link">{{ row.personName }}</button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Job Title">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ row.jobTitle | truncate:[500] }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Message">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ row.message }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created At">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ getDateTime(row.createdAt) }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p>{{ row.statusText }}</p>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>
</div>