<div>
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{model?.title}}</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="view-event-action">
        <button class="btn btn-success" *ngIf="model?.status == '11'" (click)="publish()">Publish</button>
        <button class="btn btn-primary" *ngIf="model?.status == '10'" (click)="deactivate()">Deactivate</button>
        <button class="btn btn-danger" (click)="showDeleteDialog()">Delete</button>
        ( Current Status: {{ model?.statusText}} )
      </div>

      <app-confirm-dialog title="Delete Event"
                          (yes)="delete()"
                          [(opened)]="deleteConfirmDialogOpened">
        Are you sure to delete the event?
      </app-confirm-dialog>

      <div class="view-event-image">
        <img [src]="generateImagePathById(model?.thumbnailId)">
      </div>

      <div class="view-event" *ngIf="!editMode">
        <button class="button-link right" (click)="setEditMode(true)"><span class="fa fa-edit"></span></button>
        <div class="view-event-title">
          {{ model?.title }} ( {{model?.titleChinese}} )
          <div class="view-event-date">{{ getDateTime(model?.startAt) + " - " + getDateTime(model?.endAt) }}</div>
        </div>
        <div class="view-event-desc" [innerHtml]="model?.description"></div>
          <hr/>
          <div class="view-event-desc" [innerHtml]="model?.descriptionChinese"></div>
        </div>

        <th-edit-event *ngIf="editMode" [model]="model" (success)="handleEditEventSuccess()"></th-edit-event>


      </div>
    </div>
  </div>
