<div class="field-label">
  Year
</div>
<div class="field-area">
  <app-input #field
             name="date"
             type="number"
             placeholder="Input valid year (YYYY)"
  ></app-input>

  <button (click)="print(field.value, null)"><span class="fa fa-print"></span></button>
  <button (click)="print(field.value, 'pdf')"><span class="fa fa-file-pdf-o"></span></button>
</div>
