/* You can add global styles to this file, and also import other style files */

//@import url('http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/index.css';


$primary-color: #bca12d;

@-webkit-keyframes spin-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
  }
}

@-moz-keyframes spin-cubeGridScaleDelay {
  0%, 70%, 100% {
    -moz-transform: scale3D(1, 1, 1);
  }
  35% {
    -moz-transform: scale3D(0, 0, 1);
  }
}

@keyframes spin-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}


.spin-outer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}
.spin-container {
    height:100%;
    width:100%;
    display:table;
}
.spin-inner {
    vertical-align:middle;
    height:100%;
    display:table-cell;
}
.spin-cube-grid {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    .spin-cube {
        width: 33%;
        height: 33%;
        background-color: #fff;
        float: left;
        -webkit-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -moz-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .spin-cube1 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .spin-cube2 {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .spin-cube3 {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .spin-cube4 {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .spin-cube5 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .spin-cube6 {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .spin-cube7 {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }
    .spin-cube8 {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .spin-cube9 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #cccccc;
    }
    &:active{
        background: #888888;
    }
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #666666;
    }
    &:active{
        background: #333333;
    }
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.btn-tab {
    margin-top: 10px;
}


.hide {
  display: none;
}
.button-link {
    border: 0;
    color: blue;
    outline: none;
}

.button-link:hover {
    cursor: pointer;
    text-decoration: underline
}

strong > span {
    font-weight: bold;
}

.field-label {
    font-weight: bold;
    padding: 10px 0;
}

.flex {
    display: flex;
}

.fit {
    height: 100%;
}

.right {
    float: right;
}

.card {
    overflow: initial !important;
}

.a{
  cursor: pointer;
}

.btn {
    &__primary {
        color: white;
        background: $primary-color;
    }
}

.red_text{
  color: red;
}

.blue_text{
  color: blue;
}
