<div class="row">

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-primary text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-globe"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">USERS GROWTH</h6>
            <h2>7,332</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">Registrations</p>
            <span>+1130</span>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Bounce Rate</p>
            <span>3.7%</span>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
     <div class="card card-danger text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <div class="col-9">
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="58">
              <div>
                <h6 class="no-margin">VISITS TODAY</h6>
                <h2>12,324</h2>
              </div>
              <div>
                <h6 class="no-margin">VISITS YESTERDAY</h6>
                <h2>11,885</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">New Visitors</p>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="21">
              <div>
                <span>1,332</span>
              </div>
              <div>
                <span>20.1%</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Bounce Rate</p>
            <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="21">
              <div>
                <span>217</span>
              </div>
              <div>
                <span>2.3%</span>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
     <div class="card card-warning text-center info-box">
      <div class="card-body">            
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-globe"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">ORDERS</h6>
                <h2>82,765</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin text-truncate">Avg. Time</h6>
                <span>2:56</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin text-truncate">Last Week</h6>
                <span>374</span>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-certificate"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">PICKED ORDERS</h6>
                <h2>13.8%</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin text-truncate">Basic</h6>
                <span>3,692</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin text-truncate">Advanced</h6>
                <span>1,441</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-success text-center info-box">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-usd"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">TOTAL PROFIT</h6>
            <h2>$9,448</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin text-truncate">Last Month</p>
            <span>$83,541</span>
          </div>
          <div class="col-6">
            <p class="no-margin text-truncate">Last Week</p>
            <span>$17,926</span>
          </div>
        </div>      
      </div>
    </div>
  </div> 

</div>

<div class="row">

    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 bottom-30">
        <div class="card weather">
          <img class="card-img-top" src="../assets/img/app/sky.jpg" alt="Card image cap">
          <div class="card-img-overlay">               
                <h2 class="no-margin">Canberra, Australia</h2>
                <p class="card-text">TODAY {{date | date: 'dd.MM.yyyy'}}</p>
                <div class="row">
                    <div class="col-6 text-center">
                      <canvas skycon [weather]="'partly-cloudy-day'" [color]="config.colors.default" width="90" height="90"></canvas>
                    </div> 
                    <div class="col-6 text-center">
                        <div class="current-temperature">16°</div>
                        <div class="degree">C</div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-6 text-center">
                        <span><i class="fa fa-flag"></i> 26.20 km/h</span>
                    </div> 
                    <div class="col-6 text-center">
                        <span><i class="fa fa-tint"></i> 59 %</span>
                    </div>
                </div>                  
          </div>
          <div class="card-body">
              <div *ngFor="let weather of weatherData" class="row line">
                  <div class="col-4 text-left text-truncate">{{weather.day}}</div>
                  <div class="col-4 text-center">
                     <canvas skycon [weather]="weather.icon" [color]="config.colors.gray" width="22" height="22"></canvas>
                  </div>
                  <div class="col-4 text-right">
                      {{weather.degree}}
                  </div>
              </div> 
          </div>
        </div>
    </div>

    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>Order LIST</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                   
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">
               <az-todo></az-todo>
            </div>
        </div>
    </div>

</div>


<div class="row">
  <div class="col">
     <div widget class="card">
          <div class="card-header">
            <span>REVENUE</span>
            <div class="widget-controls">                
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
          </div>
          <div class="card-body widget-body">
              <az-dynamic-chart></az-dynamic-chart>
          </div>
        </div>
  </div>
</div>