<img src="{{getFilePath(model.imageId ? model.imageId : '0')}}" width="100" height="100"/>

<table class="table table-responsive">
  <tr>
    <td>Salutation</td>
    <td>:</td>
    <td>{{model.salutation}}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>:</td>
    <td>{{model.username}}</td>
  </tr>
  <tr>
    <td>Credit</td>
    <td>:</td>
    <td><span class="cursor blue_text"  (click)="setListPointModal(true)">{{totalPoint}}</span></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>:</td>
    <td>{{model.firstName}}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>:</td>
    <td>{{model.lastName}}</td>
  </tr>
  <tr>
    <td>Telephone</td>
    <td>:</td>
    <td>{{model.telephone}}</td>
  </tr>
  <tr>
    <td>Sipping Address</td>
    <td>:</td>
    <td>
      {{model.shippingStreetName}},
      {{model.shippingUnitNumber}}<br>
      {{model.shippingCity}},
      {{model.shippingCountry}}
      {{model.shippingPostalCode}}
    </td>
  </tr>
  <tr>
    <td>Billing Address</td>
    <td>:</td>
    <td>
      {{model.billingStreetName}},
      {{model.billingUnitNumber}}<br>
      {{model.billingCity}},
      {{model.billingCountry}}
      {{model.billingPostalCode}}
    </td>
  </tr>
  <tr>
    <td>Last Update</td>
    <td>:</td>
    <td>{{getStringDate(model.updatedAt)}}</td>
  </tr>
</table>

<app-modal
[(opened)]="listPointModal">
  <th-list-user-point></th-list-user-point>
</app-modal>
