<ngx-datatable
  #table
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [limit]="pageSize"
  [rows]='models'
  [count]="total"
  [offset]="page - 1"
  (page)="getPage($event.offset + 1)">

  <ngx-datatable-column name="Date">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ _dateService.getDateNumberFormat(row.updatedAt) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Point">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="row.orderId" > + {{ row.point }}</span>
      <span *ngIf="!row.orderId" > - {{ row.point }}</span>
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>
