<div class="field">
    <textarea class="form-control"
      [rows]="rows"
      [placeholder]="placeholder"
      [class.disabled]="disabled" 
      [class.textarea-error]="errorMessage"
      (keyup)="handleKeyup($event)"
      [(ngModel)]="value"></textarea>

    <div class="help-block text-danger">
      {{errorMessage}}
    </div>
  </div>